        html {
            overflow: hidden;
        }
        body {
            background-color:white;
            color: black;
            margin-top: 25px;
            margin bottom: 25px;
            overflow: hidden;
        }
        li {
            list-style: none;
        }
        ul {
            list-style: none;
        }
        h4 {
             font-size: 18px;
             font-weight: bold;
             padding-top: 5px;
             padding-bottom: 5px;
        }
        .fork-me {
            position: fixed;
            top: 0;
            right: 0;
            z-index: 9999;
            transform: rotate(360deg);
        }
        .fork-me:hover {
           opacity: 0.8;
        }
        .logo {

        }
        .container {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            padding: 10px;
        }
         .alert.alert-secondary {
             box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
             background-color: white;
         }
         .alert:hover {
            background-color: #F5F5F5;
            cursor: pointer;
         }
         .alert.alert-dark {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
            background-color: white;
            padding 10px;
            margin: 5px;
         }
         .form-control {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
         }
         .results-container {
            max-height: 300px;
         }
         #searchbar {

         }
         #sortmenu {
            padding: 200px;
         }
         .filters-container {
            min-height: 300px;
            margin-left: 200px;
            margin-top: 50px;
         }
         #pagination {
            display:flex;
            justify-content:center;
         }



