html {
            /* overflow: hidden; */
        }
        body {
            background-color:white;
            color: black;
            margin-top: 25px;
            margin bottom: 25px;
            /* overflow: hidden; */
        }
        .logo {
            display: center;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        }
        h4 {
            font-size: 18px;
            font-weight: bold;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .form-control {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        .results-container {
            border: 1px solid black;
            min-height: 300px;
            width: 400px;
            padding:10px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            display: inline-block;
            margin-left: 670px;

        }
        .alert.alert-secondary {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
            background-color: white;
        }
        .alert.alert-dark {
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
                    background-color: white;
                    padding 10px;
                    margin: 5px;
         }
        .filters-container {
            border: 1px solid black;
            padding: 10px;
            min-height: 400px;
            width: 300px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        .company-name {
            padding: 20px;
            text-align: center;
            font-weight: 600;
            color: black;
        }
        ul {
            list-style: none;
             margin: 0px;
            padding: 0px;
        }
        .alert:hover {
          background-color: #F5F5F5;
          cursor: pointer;
        }
        .filter-button, .filter-reset-button {
          display: inline-block;
        }
        li {
            list-style: none;
        }
        .pagination-wrapper {
            cursor: pointer;
            margin-left: 469px;
        }
        .fork-me {
          position: fixed;
          top: 0;
          right: 0;
          z-index: 9999;
          transform: rotate(360deg);
        }

        .fork-me:hover {
          opacity: 0.8;
        }
        #noResults {
            justify-content: center;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            padding: 10px;
            margin-top: 80px;
            max-width:420px;
            text-align: center;
        }